.game {
    display: flex;
    margin: 50px;
}

.game-board .square {
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: lightgray;
}

.game-info {
    margin-left: 20px;
}

.game-info ol button {
    font-size: 15px;
    height: 30px;
    width: 150px;
}

.game-info .game-status {
   font-size: 25px;
   margin-left: 20px;
}